@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.banner{
    background-image: url('../assets/images/banner.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 400px;
    max-width: 1288px;
    margin: 0 auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1288px;
    margin: 0 auto;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

footer > p{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

nav{
    width: 100%;
    max-width: 1288px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

nav > ul{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

li {
    list-style: none;
}

li > a{
  text-decoration: none;
  color: #000;
  background-color: #e1dede;
  padding: 5px 10px;
  border-radius: 5px;
}

.categories{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.button{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 10px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #fff;
    border-color: #fff;
    outline: none;
    padding: 5px 0;
}

.button:focus {
    background-color: #000;
    color: #fff;
}

.button > img{
    width: 30px;
    height: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 400px - 100px);
}

.form > .user , .password {
    padding: 8px 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    outline: none;
}

.list{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    border: 1px solid gold;
}

.card > .img{
    display: flex;
    overflow: hidden;
    height: 60%;
}

.card .img > img{
    width: 100%;
    object-fit: cover;
}

.card > .body{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    
}

.body > p{
    text-align: justify;
    height: 75px;
}

.body > small{
    text-align: end;
    font-weight: bold;
    font-size: 14px;
}

.form-create{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    width: 100%;
    padding: 5px 10px;
}

.btn{
    width: 100px;
    padding: 8px 5px;
    border-radius: 10px;
    margin-top: 5px;
    background-color: #06860c;
    color: #fff;
    border-color: #06860c;
}

.search {
    display: flex;
    width: 100%;
}

.search > div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid #c1c1c1;
    padding: 0 5px;
}

.search div > input{
    padding: 5px 10px;
    border: none;
    flex: 1;
    outline: none;
}

.clean{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: none;
    gap: 10px;
    padding: 0 10px;
}

.clean > button {
    width: 30px;
    background-color: red;
    color: white;
}

.clean > p {
    font-weight: bold;
}

@media screen and (max-width: 768px){
    
    .card {
        flex: auto;
        width: 100%;
        max-width: 100%;
    }
    .search > div{
        margin: 0 5px;
    }

    .list {
        width: 95%;
    }

    .banner{
        height: 200px;
    }

    footer > p{
        font-size: 14px;
        width: 80%;
    }
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .button{
        width: 150px;
    }

    .categories{
        justify-content: center;
        gap: 10px;
    }

    nav > ul {
        justify-content: space-around;
    }
}