<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <meta name="description" content="Restaurante localizado na região de Chapecó">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% load static %}
    <link rel="icon" href="{% static 'assets/icons/restaurante.png' %}">
</head>
<body>
    <header>
        <div class="banner">

        </div>
        {% if user.is_authenticated %}
        <nav>
            {% if user.is_authenticated %}
            <p>Usuário: {{user.username}}</p>
            {% endif %}
            <ul>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    {% load static %}
                    <li><a href="{% url 'dish_create_view' %}"><img src="{% static 'assets/icons/adicionar.png' %}" alt="novo" width="15"> Novo</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}    
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p><span id="year"></span> &copy; Todos os direitos reservados <a href="mailto:alexsanderesramos@gmail.com" target="_blank" >Alexsander Sautier</a></p>
    </footer>

    {% load static %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>